*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.rada.vn/data/image/2023/09/25/tong-hop-code-Party-Animals-700.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    background-color: #162938;
}
header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header nav .logo {
    flex-grow: 1; /* Allow logo to take available space */
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin: 5px;
    padding-right: 20px;
}
header nav ul li a{
    font-size: 20px;
    align-items: center;
    text-decoration: none;
}
.logo{
    font-size: 3.5rem;
    color: aliceblue;
    user-select: none;
    margin-right: auto;
}
.navigation a {
    display: flex;
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin: 20px;
    align-items: center;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: bottom;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navigation a:hover::after{
    transform-origin: bottom;
    transform: scaleX(1);
}
.navigation .btnlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}
.navigation .btnlogin:hover{
    background: #fff;
    color: black;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
}
.checkbtn{
    display: none;
    padding: 10px;
}
#check{
    display: none;
}
@media (max-width: 700px) {
    header nav {
        padding: 10px; 
        max-height: 71px;
    }

    .logo {
        margin-right: auto; 
    }
    nav ul {
        position: fixed;
        top: 91px;
        background-color: #162938;
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        right: -100%; 
        transition: all 0.3s;
        padding: 10px 0;
    }
    .checkbtn {
        display: block;
        color: #fff;
    }

    #check:checked ~ ul {
        right: 0;
    }
    
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 700px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 20px;
    color: black;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: antiquewhite;
    font-weight: 500;
}
.login-register{
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    margin: 25px 0 10px;
    font-weight: 500;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.contact-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #007BFF;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.mess-icon{
    position: fixed;
    bottom: 150px;
    right: 50px;
    background-color: #007BFF;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Contact Form Style */
  .contact-form {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
  }
  
  .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 20px;
    color: #ff0000;
  }
  
  /* Form Inputs */
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  .check-user{
    align-items: center;
    display: flex;
  }


